In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd

# Importación de las clases creadas en nuestro archivo de soporte
# -----------------------------------------------------------------------
from src import soporte_nulos as sn

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
# cargamos el dataframe creado en la lección anterior
df = pd.read_csv("datos/datos_post_eda.csv", index_col = 0)
df.head(1)

,propertyType,size,exterior,rooms,bathrooms,municipality,showAddress,distance,status,newDevelopment,priceByArea,floor,district,neighborhood,hasLift,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,typology,subTypology
price,,,,,,,,,,,,,,,,,,,,
750.0,flat,60.0,True,1,1,Madrid,True,7037,good,False,13.0,3,Hortaleza,Canillas,True,NaN,NaN,NaN,flat,NaN

In [3]:
# lo primero que vamos a hacer es calcular el porcentaje de nulos que tenemos para cada columna
gestionar_nulos = sn.GestionNulos(df)
nulos = gestionar_nulos.calcular_porcentaje_nulos()
nulos

status                            3.966006
newDevelopment                    3.966006
priceByArea                       3.966006
floor                            17.847025
district                         14.730878
neighborhood                     50.708215
hasLift                           5.099150
hasParkingSpace                  76.487252
isParkingSpaceIncludedInPrice    76.487252
parkingSpacePrice                98.866856
typology                          3.966006
subTypology                      80.169972
dtype: float64

Habiamos dejado parking space price por si podria ser relevante pero ibservamos que son nulos casi todos los datos por lo que vamos a borrar esa columna tambien.

In [43]:
df = df.drop(columns=['parkingSpacePrice'])  #borramos la columna

In [44]:
gestionar_nulos.mostrar_distribucion_categoricas()

La distribución de las categorías para la columna STATUS

status
good              0.955752
newdevelopment    0.038348
renew             0.005900
Name: proportion, dtype: float64

........................
La distribución de las categorías para la columna NEWDEVELOPMENT

newDevelopment
False    0.961652
True     0.038348
Name: proportion, dtype: float64

........................
La distribución de las categorías para la columna FLOOR

floor
1     0.241379
bj    0.200000
2     0.193103
3     0.165517
4     0.113793
5     0.031034
en    0.020690
8     0.013793
6     0.006897
st    0.003448
7     0.003448
14    0.003448
ss    0.003448
Name: proportion, dtype: float64

........................
La distribución de las categorías para la columna DISTRICT

district
Centro                        0.156146
Villaverde                    0.076412
Puente de Vallecas            0.056478
Tetuán                        0.043189
San Blas                      0.039867
                                ...
El Mirador                    0.003322
Pol. Industrial sur           0.003322
San Isidro                    0.003322
Pryconsa - Poligono Europa    0.003322
Alcobendas Centro             0.003322
Name: proportion, Length: 83, dtype: float64

........................
La distribución de las categorías para la columna NEIGHBORHOOD

neighborhood
Lavapiés-Embajadores    0.063218
Villaverde Alto         0.051724
Valdeacederas           0.045977
San Diego               0.045977
Los Rosales             0.040230
                          ...
Portazgo                0.005747
Jerónimos               0.005747
Pradolongo              0.005747
Pilar                   0.005747
Concepción              0.005747
Name: proportion, Length: 74, dtype: float64

........................
La distribución de las categorías para la columna HASLIFT

hasLift
True     0.519403
False    0.480597
Name: proportion, dtype: float64

........................
La distribución de las categorías para la columna HASPARKINGSPACE

hasParkingSpace
True    1.0
Name: proportion, dtype: float64

........................
La distribución de las categorías para la columna ISPARKINGSPACEINCLUDEDINPRICE

isParkingSpaceIncludedInPrice
True     0.951807
False    0.048193
Name: proportion, dtype: float64

........................
La distribución de las categorías para la columna TYPOLOGY

typology
flat            0.988201
chalet          0.008850
countryHouse    0.002950
Name: proportion, dtype: float64

........................
La distribución de las categorías para la columna SUBTYPOLOGY

subTypology
studio              0.657143
duplex              0.157143
penthouse           0.142857
independantHouse    0.014286
terracedHouse       0.014286
countryHouse        0.014286
Name: proportion, dtype: float64

........................

In [45]:
columnas_desconocido = df.select_dtypes(include=['object']).columns             # Vamos a reemplazar categoricas por  valor desconocido
columnas_moda = []            # Vamos a reemplazar categoricas por  valor desconocido

In [46]:
#imputamos nulos desconocidos a las variables categoricas
df = gestionar_nulos.imputar_nulos_categoricas(columnas_moda,columnas_desconocido)

In [47]:
# lo primero que vamos a hacer es calcular el número de nulos que nos quedan en cada una de las columnas numericas
nulos = gestionar_nulos.calcular_porcentaje_nulos()
nulos

priceByArea           3.966006
parkingSpacePrice    98.866856
dtype: float64

In [48]:

df.columns.unique()

Index(['propertyType', 'size', 'exterior', 'rooms', 'bathrooms',
       'municipality', 'showAddress', 'distance', 'status', 'newDevelopment',
       'priceByArea', 'floor', 'district', 'neighborhood', 'hasLift',
       'hasParkingSpace', 'isParkingSpaceIncludedInPrice', 'parkingSpacePrice',
       'typology', 'subTypology'],
      dtype='object')

In [49]:
# llamamos al método para imputar valores nulos con el método KNN
gestionar_nulos.imputar_knn(nulos.index)

,propertyType,size,exterior,rooms,bathrooms,municipality,showAddress,distance,status,newDevelopment,priceByArea,floor,district,neighborhood,hasLift,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,typology,subTypology,priceByArea_knn,parkingSpacePrice_knn
price,,,,,,,,,,,,,,,,,,,,,,
750.0,flat,60.0,True,1,1,Madrid,True,7037,good,False,13.0,3,Hortaleza,Canillas,True,Unknown,Unknown,NaN,flat,Unknown,13.000000,3795.0
750.0,flat,70.0,True,2,1,San Sebastián de los Reyes,False,16145,good,False,11.0,bj,Centro Urbano,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,11.000000,3795.0
400.0,penthouse,67.0,True,2,2,Villamanrique de Tajo,False,55041,good,False,6.0,2,Unknown,Unknown,False,Unknown,Unknown,NaN,flat,penthouse,6.000000,3795.0
590.0,flat,70.0,True,3,2,Rascafría,False,56596,good,False,8.0,Unknown,Unknown,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,8.000000,3795.0
684.0,studio,45.0,True,0,1,Madrid,True,10656,Unknown,Unknown,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,Unknown,Unknown,13.294985,3795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640.0,flat,69.0,True,2,1,Villalbilla,True,29311,good,False,9.0,2,Unknown,Unknown,True,True,True,NaN,flat,Unknown,9.000000,3795.0
700.0,flat,54.0,True,1,1,Getafe,False,11656,good,False,13.0,1,Getafe Centro,Unknown,True,Unknown,Unknown,NaN,flat,Unknown,13.000000,3795.0
700.0,flat,59.0,True,1,1,Madrid,True,7529,good,False,12.0,6,Carabanchel,Pau de Carabanchel,True,True,True,NaN,flat,Unknown,12.000000,3795.0
700.0,flat,75.0,True,2,1,Alcalá de Henares,True,30359,good,False,9.0,1,Pryconsa - Poligono Europa,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,9.000000,3795.0
695.0,flat,62.0,False,2,1,Alcobendas,True,15162,good,False,11.0,3,Alcobendas Centro,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,11.000000,3795.0

In [50]:
df

,propertyType,size,exterior,rooms,bathrooms,municipality,showAddress,distance,status,newDevelopment,priceByArea,floor,district,neighborhood,hasLift,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice,typology,subTypology,priceByArea_knn,parkingSpacePrice_knn
price,,,,,,,,,,,,,,,,,,,,,,
750.0,flat,60.0,True,1,1,Madrid,True,7037,good,False,13.0,3,Hortaleza,Canillas,True,Unknown,Unknown,NaN,flat,Unknown,13.000000,3795.0
750.0,flat,70.0,True,2,1,San Sebastián de los Reyes,False,16145,good,False,11.0,bj,Centro Urbano,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,11.000000,3795.0
400.0,penthouse,67.0,True,2,2,Villamanrique de Tajo,False,55041,good,False,6.0,2,Unknown,Unknown,False,Unknown,Unknown,NaN,flat,penthouse,6.000000,3795.0
590.0,flat,70.0,True,3,2,Rascafría,False,56596,good,False,8.0,Unknown,Unknown,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,8.000000,3795.0
684.0,studio,45.0,True,0,1,Madrid,True,10656,Unknown,Unknown,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,Unknown,Unknown,13.294985,3795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640.0,flat,69.0,True,2,1,Villalbilla,True,29311,good,False,9.0,2,Unknown,Unknown,True,True,True,NaN,flat,Unknown,9.000000,3795.0
700.0,flat,54.0,True,1,1,Getafe,False,11656,good,False,13.0,1,Getafe Centro,Unknown,True,Unknown,Unknown,NaN,flat,Unknown,13.000000,3795.0
700.0,flat,59.0,True,1,1,Madrid,True,7529,good,False,12.0,6,Carabanchel,Pau de Carabanchel,True,True,True,NaN,flat,Unknown,12.000000,3795.0
700.0,flat,75.0,True,2,1,Alcalá de Henares,True,30359,good,False,9.0,1,Pryconsa - Poligono Europa,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,9.000000,3795.0
695.0,flat,62.0,False,2,1,Alcobendas,True,15162,good,False,11.0,3,Alcobendas Centro,Unknown,False,Unknown,Unknown,NaN,flat,Unknown,11.000000,3795.0

In [51]:
columnas_eliminar = ['priceByArea','parkingSpacePrice']
gestionar_nulos.columnas_eliminar(columnas_eliminar)                      
df.head()

,propertyType,size,exterior,rooms,bathrooms,municipality,showAddress,distance,status,newDevelopment,floor,district,neighborhood,hasLift,hasParkingSpace,isParkingSpaceIncludedInPrice,typology,subTypology,priceByArea_knn,parkingSpacePrice_knn
price,,,,,,,,,,,,,,,,,,,,
750.0,flat,60.0,True,1,1,Madrid,True,7037,good,False,3,Hortaleza,Canillas,True,Unknown,Unknown,flat,Unknown,13.000000,3795.0
750.0,flat,70.0,True,2,1,San Sebastián de los Reyes,False,16145,good,False,bj,Centro Urbano,Unknown,False,Unknown,Unknown,flat,Unknown,11.000000,3795.0
400.0,penthouse,67.0,True,2,2,Villamanrique de Tajo,False,55041,good,False,2,Unknown,Unknown,False,Unknown,Unknown,flat,penthouse,6.000000,3795.0
590.0,flat,70.0,True,3,2,Rascafría,False,56596,good,False,Unknown,Unknown,Unknown,False,Unknown,Unknown,flat,Unknown,8.000000,3795.0
684.0,studio,45.0,True,0,1,Madrid,True,10656,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,13.294985,3795.0

In [52]:
# Guardamos el DataFrame para usarlo en la lección de mañana 
df.to_csv("datos/datos_nonulls.csv")